@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700');
@import "_mixins.scss";
@import "_variables.scss";
@import "_base.scss";
@import "_panels.scss";
@import "_labels-badges.scss";
@import "_buttons.scss";
@import "_top-bar.scss";
@import "_dropdowns.scss";
@import "_left-nav.scss";
@import "_right-sidebar.scss";
@import "_page-header.scss";
@import "_widgets.scss";
@import "_form-elements.scss";
@import "_charts.scss";
@import "_tables.scss";
@import "_mailbox.scss";
@import "_progress-bar.scss";
@import "_misc.scss";
@import "_blog.scss";
@import "_pricing.scss";
@import "_calendar.scss";
@import "_gallery.scss";
@import "_timeline.scss";
@import "_modal-popups.scss";
@import "_tabs-accorion.scss";
@import "_pagination.scss";
@import "_layout-horizontal.scss";
@import "_jquery-ui-custom.scss";
@import "_alertify.scss";
@import "_responsive.scss";
@import "_intro.scss";
@import "_card.scss";
#app, .App, .container-react{
    display: table;
    height: 100%;
    width: 100%;
}
.footer {
    height: 40px;
    bottom: 0px;
    left: 0;
    line-height: 40px;
    position: absolute;
    padding: 0px 15px;
    width: 100%;
    background-color: #fbfbfb;
    border-top: 1px solid #e1e8ed;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
}


.list-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list-items .item {
    flex: 1 1 auto;
    /* explanation below */
    position: relative;
  }
  
  .avatar-contain {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0px auto;
  }
  
  .avatar-contain .status-chat {
    position: absolute;
    bottom: 0px;
    right: -3px;
    top: auto;
    box-shadow: 1px 1px 3px #a5a5a561;
  }
  
  .avatar-contain .avatar {
    width: 100%;
    height: 100%;
  }
  
  .bio,
  .sub-title {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .filter {
    margin-bottom: 15px;
  }
  
  .btn-filters {
    padding-right: 15px;
  }
  
  .search-form-custom {
    display: block;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-top: 13px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
  }
  
  .search-form-custom .form-control {
    width: 250px;
  }
  
  .search-form-custom .btn-search,
  .search-form-custom input[type="text"],
  .search-form-custom input[type="email"],
  .search-form-custom textarea,
  .search-form-custom input::placeholder,
  .search-form-custom .form-control {
    color: #444;
  }
  
  .pagi-contain {
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    margin-right: 15px;
  }
  
  .pagi-contain ul {
    float: right;
    margin-top: 0px;
  }
  
  span.top-ranking {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f0ad4e;
  }
  
  .top-ranking b {}
  
  .list-scoop .scoop {
    margin-bottom: 15px;
    margin-top: 15px;
  }