/*
Tables style
*/
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom; }

div.dataTables_paginate a {
  display: inline-block;
  padding: 1px 10px;
  font-size: 13px;
  border: 1px solid #eee;
  color: #666;
  margin: 1px;
  cursor: pointer; }
  div.dataTables_paginate a.disabled {
    cursor: not-allowed; }
  div.dataTables_paginate a:hover, div.dataTables_paginate a.current {
    background: #eee; }

@media (min-width: 768px) {
  .dataTables_length, .dataTables_info {
    float: left;
    width: 50%; } }

div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  box-shadow: none;
  border: 1px solid #ddd; }
  div.dataTables_filter input:focus {
    outline: 0 !important; }

div.dataTables_length select {
  box-shadow: none;
  border: 1px solid #ddd; }
  div.dataTables_length select:focus {
    outline: 0 !important; }

.misc-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;
  background-color: #444; }
  .misc-header img {
    width: 180px; }

.misc-box {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
